
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'CBRAIN API' %>

<div class="generalbox">
<big><strong>This page contains information about the CBRAIN API</strong></big>

<p class="medium_paragraphs">
For more information about the API, please look up the
<a href="https://github.com/aces/cbrain/issues?q=is%3Aopen+is%3Aissue+label%3AAPI">API issues</a>
on
<a href="https://github.com/aces/cbrain">CBRAIN's GitHub repository</a>,
and in particular the
<a href="https://github.com/aces/cbrain/projects/7">API tracking project</a>.

<p class="medium_paragraphs">
This specification's is encoded in Swagger documents (a <a href="/swagger.yaml">YAML</a> or
a <a href="/swagger.json">JSON</a> file) and these
can be opened at <a href="https://app.swaggerhub.com/home">SwaggerHUB</a>.

This will provide you a way to generate client code in all sorts
of marvelous exotic languages, such as <em>Python</em>, <em>Perl</em>,
<em>Java</em>, <em>Swift</em> and even <em><strong>Ruby</strong></em>.
An example of such automatic code generation is on GitHub in the repo for the
<a href="https://github.com/aces/cbrain-client-gem">CBRAIN Client Ruby Gem</a>.

<p class="medium_paragraphs">
Here is a direct link to the developer's <a href="https://app.swaggerhub.com/apis/prioux/CBRAIN/<%= @spec_version %>">latest version on SwaggerHub</a>.

</div>

