
development:
  primary:
    adapter: mysql2
    host: localhost
    database: cbrain_dev_db_name_here
    username: cbrain_dev_user_name_here
    password: cbrain_dev_user_pw_here
    encoding: utf8
  queue:
    adapter: mysql2
    host: localhost
    database: cbrain_dev_db_name_here
    username: cbrain_dev_user_name_here
    password: cbrain_dev_user_pw_here
    encoding: utf8

production:
  primary:
    adapter: mysql2
    host: localhost
    database: cbrain_prod_db_name_here
    username: cbrain_prod_user_name_here
    password: cbrain_prod_user_pw_here
    encoding: utf8
  queue:
    adapter: mysql2
    host: localhost
    database: cbrain_prod_db_name_here
    username: cbrain_prod_user_name_here
    password: cbrain_prod_user_pw_here
    encoding: utf8

test:
  adapter: mysql2
  host: localhost
  database: cbrain_test_db_name_here
  username: cbrain_test_user_name_here
  password: cbrain_test_user_pw_here
  encoding: utf8

